h1 {
  background-color: pink;
  border: solid 4px blue;
  font-family: fantasy;
  text-align: center;
  border-width: thick;
  color: #ff9900;
}
h2 {
  background-color: pink;
  border: solid 4px blue;
  font-family: fantasy;
  margin-right: 1100px;
  margin-left: 100px;
  border-width: thick;
  color: #ff9900;
}
* {background-color: pink}

p {
  margin-left: 300px;
  font-weight: bolder;
  border: solid 4px blue;
  border-width: thick;
  border-radius: 150px;
  padding: 20px;
  background-color: pink;
  color: #ff9900;
}
