H1 {
  color: yellow;
  font-size: 500%;
  background-color: Blue;
  border: solid 5px;
  text-shadow: 0 0 25px black;
  border-radius: 30px;
  text-align: center;
  font-family: fantasy;
}
p {
  margin-left: 60px;
}
#content {
  border: solid 3px black;
  background-color: #b2fffa;
  font-family: fantasy;
}
a {
  text-indent: 150px;
  color: yellow;
}
