H1 {
  color: yellow;
  font-size: 500%;
  font-family "papyrus", fantasy;
  background-color: Blue;
  border: solid 5px;
}
p {
  margin-left: 60px;
}
#content {
  border: solid 3px black;
  background-color: #b2fffa;
}
